<app-nav-bar></app-nav-bar>
<section class="home" id="home">
  <form [formGroup]="houseForm" (ngSubmit)="add()">
    <h3 style="margin-right: 70%; color: #ff5a3c">Đăng nhà</h3>
    <div class="inputBox">
      <input type="search" name="" placeholder="Tên nhà" formControlName = "name">
    </div>
    <br>
    <div class="inputBox">
      <select formControlName="categoryId">
        <option *ngFor="let category of listCategories" value="{{category.id}}">{{category.name}}</option>
      </select>
    </div>
    <div class="inputBox">
      <input type="search" name="" placeholder="Địa chỉ" formControlName = "address">
    </div>
    <div class="inputBox">
      <input type="search" name="" placeholder="Phòng ngủ" formControlName = "bedroom">
    </div>
    <div class="inputBox">
      <input type="search" name="" placeholder="Phòng tắm" formControlName = "bathroom">
    </div>
    <div class="inputBox">
      <input type="textarea" name="" placeholder="Mô tả" formControlName = "description" style="width: 100%; height: 100px">
    </div>
    <div class="inputBox">
      <input type="search" name="" placeholder="Giá" formControlName = "price">
    </div>
    <div class="inputBox">
      <select formControlName="status">
        <option value="1">Sẵn sàng</option>
        <option value="2">Đang nâng cấp</option>
        <option value="3">Đang được thuê</option>
      </select>
    </div>
    <br>
    <input type="file" placeholder="Chọn ảnh" id="file" #userPhoto multiple (change)="showPreview($event)" name="image" autocomplete="off">
    <input type="submit" value="Đăng ngay" class="btn">

  </form>
</section>
