<app-nav-bar></app-nav-bar>

<section class="home" id="home">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <h3>Tìm kiếm nhà</h3>
    <div class="inputBox">
      <input type="search" name="" placeholder="Số phòng ngủ" formControlName="bedroom">
      <input type="search" name="" placeholder="Số phòng tắm" formControlName="bathroom">
      <input type="search" name="" placeholder="Địa chỉ" formControlName="address">
      <input type="date" name="" formControlName="cus_begin">
      <input type="date" name="" formControlName="cus_end">
      <input type="number" name="" placeholder="Giá tiền từ" formControlName="start">
      <input type="number" name="" placeholder="Giá tiền đến" formControlName="end">
    </div>

    <input type="submit" value="search property" class="btn">

  </form>

</section>

<section class="featured" id="featured">
  <h1 class="heading"><span>Danh sách</span> nhà </h1>
  <div class="box-container">
    <div class="box" *ngFor="let house of houses; let i = index;">
      <div class="image-container">
        <img src="{{images[i]}}" alt="">
        <div class="info">
          <h3>Sẵn sàng</h3>
        </div>
      </div>
      <div class="content">
        <div class="price">
          <h3>$ {{house.price}}</h3>
        </div>
        <div class="location">
          <h3>{{house.name}}</h3>
          <p>{{house.address}}</p>
        </div>
        <div class="details">
          <h3><i class="fas fa-bed"></i> {{house.bathroom}} phòng ngủ </h3>
          <h3><i class="fas fa-bath"></i> {{house.bathroom}} phòng tắm </h3>
        </div>
        <div class="buttons">
          <a class="btn" routerLink="/house-detail/{{house.id}}">Xem chi tiết</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="agents" id="agents">
  <h1 class="heading"> 5 căn nhà <span>được thuê nhiều nhất</span></h1>
  <div class="box-container">
    <div class="box" *ngFor="let house of top5Houses; let i = index">
      <a href="#" class="fas fa-envelope"></a>
      <a href="#" class="fas fa-phone"></a>
      <img src="{{imagesTop5[i]}}" alt="">
      <h3>{{house.name}}</h3>
      <span>{{house.address}}</span>
      <div class="share">
        <button routerLink="/house-detail/{{house.id}}" class="btn">Xem chi tiết</button>
      </div>
    </div>
  </div>
</section>

